* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #041121;
    overflow: hidden;
    height: 100vh;

}

i {
    position: absolute;
    height: 300px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    animation: animate 5s linear infinite;
}

i:nth-child(3n+1){
    background: linear-gradient(transparent, #f1f2f4);
}
i:nth-child(3n+2){
    background: linear-gradient(transparent, #f7f5a7);
}
i:nth-child(3n+3){
    background: linear-gradient(transparent, #bcbb85);
}

@keyframes animate {
    0% {
        transform: translateY(-200px)
    }
    100% {
        transform: translateY(calc(100vh + 200px))
    }
    
}

