* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    overflow: hidden;
    height: 100vh;

}

i {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    animation: animate 5s linear infinite;
}

i:nth-child(3n+1){
    background: linear-gradient(transparent, #4989bd);
}
i:nth-child(3n+2){
    background: linear-gradient(transparent, #093e69);
}
i:nth-child(3n+3){
    background: linear-gradient(transparent, #0f2ea1);
}

@keyframes animate {
    0% {
        transform: translatY(-200px)
    }
    100% {
        transform: translateY(calc(100vh + 200px))
    }
    
}

h1 {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}